# LiveKit Voice Agent
livekit==1.1.3
livekit-agents==1.5.1
livekit-api==1.1.0
livekit-plugins-cartesia==1.5.1
livekit-plugins-groq==1.5.1
livekit-plugins-silero==1.5.1
livekit-plugins-turn-detector==1.5.1

# RAG
langchain==0.3.25
langchain-core==0.3.83
langchain-community==0.3.25
langchain-groq==0.3.8
langchain-huggingface==0.3.1
langchain-pinecone==0.2.13

# Embeddings
sentence-transformers==5.2.3
transformers==4.49.0

# Vector DB
pinecone==7.3.0

# Utilities
python-dotenv==1.2.2
numpy==1.26.4
